@page
@model MyProject.Pages.LoginModel

<h2>Введите данные для входа</h2>
<form method="post">
	<input type="text" name="login" placeholder="логин" />
	<input type="password" name="pass" placeholder="пароль"/>
	<input type="submit" value="Отправить" />
</form>