<!-- https://metanit.com/sharp/razorpages/2.6.php -->

@page

@model MyProject.Pages.IndexModel

<h2>@Model.Message</h2>
<form method="post" >
	<input type="text" name="username" />
	<input type="submit" value="Отправить" />
</form>
