
<h3>Супер-пупер генератор КаРтИнОк</h3>

<p>Наш уникальный генератор работает с помощью всех передовых достижений науки в области Искусственного Интеллекта и разработки ПО.</p>
<p>Вы можете ознакомиться с некоторыми <a href="/main/profile">демонстрационными работами</a>!</p>

<footer>
	Сайт находится в стадии разработки. © 2024
</footer>
